.schedule {

  &__timeslotwrapper {
    border-top: 4px solid $c-sponsorslist--border;
    text-align: center;
    margin-bottom: -73px;
    margin-top: $spacing--l*5;
  }

  &__timeslot {
    padding: $spacing--l;
    background: white;
    position: relative;
    display: inline-block;
    bottom: 73px;
  }

  &__list {
    @supports (display:grid) {
      display: grid;
    }
    grid-gap: $spacing--l + $spacing--s;
    grid-template-columns: 1fr;

    @include breakpoint($bp--medium) {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint($bp--xlarge) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__title {
    margin: 0;
  }

  &__contenttype {
    margin-bottom: 0;
    font-size: 70%;
    color: $c-schedule__contenttypetext;
    background: $c-schedule__contenttypebackground;
    text-transform: uppercase;
    text-align: center;
    padding: 2px 6px;
  }

  &__whoshouldattend {
    font-size: 80%;
  }

}
