.schedule {

  &__timeslotwrapper {
    border-top: 4px solid $c-sponsorslist--border;
    text-align: center;
    margin-bottom: -73px;
    margin-top: $spacing--l*2;
  }

  &__timeslot {
    padding: $spacing--l;
    background: white;
    position: relative;
    display: inline-block;
    bottom: 73px;
  }

  &__list {
    @supports (display:grid) {
      display: grid;
    }
    grid-gap: $spacing--l;
    grid-template-columns: 1fr;

    @include breakpoint($bp--medium) {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint($bp--xlarge) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

}
