<nav class="nav">
<ul>
  <li>
    <a href="#">Home</a>
  </li>
  <li>
    <a href="#">Sessions</a>
  </li>
  <li>
    <a href="#">Contact Us</a>
  </li>
  <li>
    <a href="#">Training</a>
  </li>
</nav>
