.hero {
  background: $c-gray--light;
  min-height: 100px;
  text-align: center;
  color: $c-hero--text;
  text-shadow: 2px 2px $c-hero--textshadow;

  &__content {
    padding: $spacing--l*4 0;
  }

  &--home {
    background: url(../images/backgrounds/hero--home.jpg);
    background-size: cover;
    background-position: 50% 20%;
  }

  h1, h2, h3 {
    margin-top: 0;
  }
}
