<footer class="footer">
  {% block content %}
  <h2>Code of Conduct</h2><p>In order to ensure a positive and welcoming evironment for all, attendees should review and respect the code of conduct.</p><p><a href="/code-conduct" class="button">Find Out More</a></p>
  <h2>Contact the Organizers!</h2>
  <p>Get in touch with us if you are interested in sponsoring, speaking, or volunteering.</p>
  <ul class="footer__list"><li><a class="button" href="tel:609-831-3265">609-831-DCNJ(3265)</a></li><li><a class="button" href="mailto:team@drupalcampnj.org">team@drupalcampnj.org</a></li></ul>
  <h2>DrupalCamp NJ Archives</h2>
  <ul class="footer__list footer__list--archives"><li><a href="http://drupalcampnj2016.drupalcamp.org">2016</a></li><li><a href="http://drupalcampnj2015.drupalcamp.org">2015</a></li><li><a href="http://drupalcampnj2014.drupalcamp.org">2014</a></li><li><a href="http://drupalcampnj2013.drupalcamp.org">2013</a></li><li><a href="http://drupalcampnj2012.drupalcamp.org/">2012</a></li></ul>
  {% endblock %}
</footer>
