{% include "@organisms/site-header.twig" %}
<main class="site-content main">
  {% block content %}
    <h2>Site Content Here</h2>
  {% endblock %}
</main>
{% include "@organisms/site-footer.twig" %}
{% include "@organisms/site-hosting.twig" %}
