<div class="callouts">
  <div class="callouts__primary">
    {% block calloutprimary %}
      <h2>Callout Primary</h2>
      <p>{{ description }}</p>
    {% endblock %}
  </div>
  <div class="callouts__secondaryfirst">
    {% block calloutsecondaryfirst %}
      <h2>Callout Secondary First</h2>
      <p>{{ description }}</p>
    {% endblock %}
  </div>
  <div class="callouts__secondarysecond">
    {% block calloutsecondarysecond %}
      <h2>Callout Secondary Second</h2>
      <p>{{ description }}</p>
    {% endblock %}
  </div>
</div>
