@mixin button($bg: $c-blue, $border: $c-blue, $text: $c-white, $text-hover: $c-white) {
  @include a-link($link: $text, $hover: $text-hover, $deco--hover: "none");
  background-color: $bg;
  color: $text;
  border-radius: $spacing--s;
  border: $spacing--s solid $border;
  font-weight: $fw--700;
  padding: ($spacing--s * 3) ($spacing--l * 3);
  display: inline-block;
  text-decoration: none;
  text-align: center;
  transition: background-color .2s ease-in, color .15s ease-in, border-color .25s ease-in;
}

.button {
  @include button();
  &--knockout {
    @include button(transparent, $c-white);
    padding: 15px 60px;
    margin-top: 5px;
    border-width: 1px;
    &:hover {
      @include button($c-white, $c-white, $c-blue, $c-blue);
      padding: 15px 60px;
      border-width: 1px;
    }
  }
}

a.button {
  // needed to override base theme CSS
  // stylelint-disable property-no-vendor-prefix
  -moz-appearance: none;
  -webkit-appearance: none;
  // stylelint-enable property-no-vendor-prefix
}

input[type="submit"],
.form-submit {
  @include button();
  border: 0;
}
