<table class="responsive-enabled" data-striping="1">
      <caption>Individual Sponsor attendees</caption>


      <thead>
      <tr>
                  <th>Name</th>
                  <th>Company</th>
                  <th>Website</th>
                  <th>Drupal.org username</th>
              </tr>
    </thead>

      <tbody>
              <tr typeof="schema:Person">
                      <td property="schema:name">anna witek</td>
                      <td property="schema:affiliation">rutgers university</td>
                      <td><a href="http://honorscollege.rutgers.edu" rel="schema:url">honorscollege.rutgers.edu</a></td>
                      <td></td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">Benjamin Rose</td>
                      <td property="schema:affiliation">Princeton University Mathematics</td>
                      <td><a href="http://www.math.princeton.edu/" rel="schema:url">www.math.princeton.edu</a></td>
                      <td property="foaf:nick">allmybase</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">Benji Fisher</td>
                      <td property="schema:affiliation">Isover</td>
                      <td><a href="https://www.isovera.com/" rel="schema:url">www.isovera.com</a></td>
                      <td property="foaf:nick">benjifisher</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">Chris Urban</td>
                      <td property="schema:affiliation">Acquia</td>
                      <td><a href="http://www.acquia.com" rel="schema:url">www.acquia.com</a></td>
                      <td property="foaf:nick">urbanlegend</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">Christopher Cane</td>
                      <td property="schema:affiliation">Princeton Plasma Physics Laboratory</td>
                      <td><a href="http://www.pppl.gov" rel="schema:url">www.pppl.gov</a></td>
                      <td property="foaf:nick">ccane</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">David Zahler</td>
                      <td property="schema:affiliation">Zahler IT Consulting</td>
                      <td><a href="https://zahlerit.com" rel="schema:url">zahlerit.com</a></td>
                      <td property="foaf:nick">dzahler</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">Erik Peterson</td>
                      <td property="schema:affiliation">Acquia, Inc.</td>
                      <td><a href="https://eporama.com/" rel="schema:url">eporama.com</a></td>
                      <td property="foaf:nick">eporama</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">Gobinath Mallaiyan</td>
                      <td property="schema:affiliation">TATA Consultancy Services</td>
                      <td></td>
                      <td property="foaf:nick">gobinathm</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">Greg Wilson</td>
                      <td></td>
                      <td></td>
                      <td property="foaf:nick">wilsongreg</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">Jill Moraca</td>
                      <td property="schema:affiliation">Princeton University</td>
                      <td><a href="http://www.princeton.edu/wds" rel="schema:url">www.princeton.edu/wds</a></td>
                      <td property="foaf:nick">jmoraca</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">John Bowen</td>
                      <td property="schema:affiliation">Yardley Web Design LLC</td>
                      <td><a href="http://www.yardleywebdesign.com" rel="schema:url">www.yardleywebdesign.com</a></td>
                      <td property="foaf:nick">jgbinpa</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">John Cloys</td>
                      <td property="schema:affiliation">Princeton University</td>
                      <td><a href="http://wws.princeton.edu/" rel="schema:url">wws.princeton.edu</a></td>
                      <td property="foaf:nick">jcloys</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">John Green</td>
                      <td property="schema:affiliation">Princeton University</td>
                      <td></td>
                      <td property="foaf:nick">jsgiii74</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">John Kerbaugh</td>
                      <td property="schema:affiliation">FFW</td>
                      <td><a href="http://ffwagency.com" rel="schema:url">ffwagency.com</a></td>
                      <td property="foaf:nick">kerby70</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">Joseph Bachana</td>
                      <td property="schema:affiliation">DPCI</td>
                      <td><a href="http://www.dpci.com" rel="schema:url">www.dpci.com</a></td>
                      <td property="foaf:nick">joebachana</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">Lance Beden</td>
                      <td property="schema:affiliation">Princeton University</td>
                      <td><a href="http://web.astro.princeton.edu" rel="schema:url">web.astro.princeton.edu</a></td>
                      <td></td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">Levi Sigworth</td>
                      <td property="schema:affiliation">XIAH</td>
                      <td><a href="http://xiah.io" rel="schema:url">xiah.io</a></td>
                      <td property="foaf:nick">wheatpenny</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">Matthew Donadio</td>
                      <td property="schema:affiliation">DiD Agency</td>
                      <td><a href="https://didagency.com/" rel="schema:url">didagency.com</a></td>
                      <td property="foaf:nick">mpdonadio</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">Ray Saltini</td>
                      <td property="schema:affiliation">FFW</td>
                      <td><a href="http://ffwagency.com" rel="schema:url">ffwagency.com</a></td>
                      <td property="foaf:nick">rgs</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">Rich Gerde</td>
                      <td property="schema:affiliation">Rutgers University</td>
                      <td></td>
                      <td property="foaf:nick">richgerdes</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">Stephanie Fuda</td>
                      <td></td>
                      <td><a href="http://stephaniecod.es/" rel="schema:url">stephaniecod.es</a></td>
                      <td property="foaf:nick">Stephanie_42</td>
                  </tr>
              <tr typeof="schema:Person">
                      <td property="schema:name">Sudheesh Puthuveettil</td>
                      <td property="schema:affiliation">Tata Consultancy Services</td>
                      <td></td>
                      <td property="foaf:nick">sudheeshps</td>
                  </tr>
          </tbody>
    </table>
