.branding {
  text-align: center;

  h2 {
    margin: 0;
  }

  @include breakpoint($bp--medium) {
    text-align: left;
  }

  a {
    @include a-link($c-navlink, $c-navlink--hover, none, none);
  }

  &__logo {

  }
  &__name {

  }
  &__slogan {

  }
}

#block-patternlab-branding {
  grid-area: branding;
  align-self: center;
}
