.hosting {
  background-color: $c-hosting--background;
  text-align: center;
  color: $c-hosting--text;
  padding: $spacing--m $spacing--l $spacing--l $spacing--l;

  .platformsh-logo {
    display: block;
    margin: 0 auto;
  }

  a {
    @include a-link($c-footerlink, $c-footerlink--hover, none, none);
    font-weight: bold;
  }
}
