<div class="hosting">
  {% block content %}
  <div class="platform_sh_widget">Hosting sponsored by the <a title="platform.sh" href="http://platform.sh/?utm_campaign=sponsored_sites&amp;utm_source=drupalcampnj"><img class="platformsh-logo" alt="platform.sh logo" src="../../../../images/platformlogo.png" /></a> <a href="http://platform.sh/?utm_campaign=sponsored_sites&amp;utm_source=drupalcampnj">Drupal Cloud Hosting</a> Service</div>
  {% endblock %}
</div>
