.header {
  background: $c-header--background;
  color: $c-header--text;
  padding: $spacing--m 0;

  .content {
    @include pagecenter();
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-areas:
      "branding nav";
  }
}
