.onethreepyramid {
  display: grid;
  grid-gap: $spacing--l*4;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-areas:
    "secondaryfirst"
    "primary"
    "secondarysecond"
    "secondarythird";

  @include breakpoint($bp--medium) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "secondaryfirst secondaryfirst primary primary primary primary"
      ". secondarysecond secondarysecond secondarythird secondarythird .";
  }

  &__primary {
    grid-area: primary;
  }

  &__secondary {

    &--first {
      grid-area: secondaryfirst;
    }

    &--second {
      grid-area: secondarysecond;
    }

    &--third {
      grid-area: secondarythird;
    }

  }
}
