.onethreepyramid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "secondaryfirst secondaryfirst primary primary primary primary"
    ". secondarysecond secondarysecond secondarythird secondarythird .";

  &__primary {
    grid-area: primary;
  }

  &__secondary {

    &--first {
      grid-area: secondaryfirst;
    }

    &--second {
      grid-area: secondarysecond;
    }

    &--third {
      grid-area: secondarythird;
    }

  }
}
