<div class="onethreepyramid">
  <div class="onethreepyramid__primary">
    {{ content.primary}}
  </div>
  <div class="onethreepyramid__secondary onethreepyramid__secondary--first">
    {{ content.secondaryfirst}}
  </div>
  <div class="onethreepyramid__secondary onethreepyramid__secondary--second">
    {{ content.secondarysecond}}
  </div>
  <div class="onethreepyramid__secondary onethreepyramid__secondary--third">
    {{ content.secondarythird}}
  </div>
</div>
